<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-1">
        <p>The Sampa group at USP's Institute of Physics studies electronic, structural, magnetic, and transport
          properties in nanostructured materials, focusing on quantum confinement effects in semiconductor nanowires,
          carbon and BN nanotubes, metallic wires, and chemically absorbed molecules on metallic surfaces, using ab
          initio calculations.</p>
      </div>
    </div>
  </div>
</section>