<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>About</h2>
        <br />
        <p>The Sampa Group at the Institute of Physics of the University of São Paulo (USP) investigates the electronic,
          structural, magnetic, and transport properties of nanostructured materials. Our research focuses on quantum
          confinement effects in semiconductor nanowires, carbon and BN nanotubes, metallic nanowires, and molecules
          chemically adsorbed on metallic surfaces, employing ab initio computational methods.</p>
      </div>
    </div>
  </div>
</section>