<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="portfolio-flex-row text-center">
      {% for post in site.posts %}
      <div class="portfolio-flex-item portfolio-item">
        <div class="card-title text-center">{{ post.title }}</div>
        {% if post.link %}
        <a href="{{ post.link | relative_url }}" class="portfolio-link" target="_blank" rel="noopener">
          {% else %}
          <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
            {% endif %}
            <div class="thumb">
              <img src="img/portfolio/{{ post.img }}" alt="{{ post.alt | default: post.title }}">
              <div class="caption" aria-hidden="true">
                <div class="caption-content"><i class="fa fa-search-plus fa-3x"></i></div>
              </div>
            </div>

          </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>